/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
  70% {
    color: #cdd6f4;
  }

  to {
    color: #f9e2af;
  }
}

@keyframes blink-critical {
  70% {
    color: #cdd6f4;
  }

  to {
    color: #f38ba8;
  }
}

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
  border: none;
  border-radius: 0;
  min-height: 30px;
  margin: 0;
  padding: 0;
}

/* The whole bar */
#waybar {
  background: #1e1e2e;
  color: #cdd6f4;
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 16px;
}

/* Each module */
#battery,
#clock,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#network,
#pulseaudio,
#backlight,
#temperature,
#tray {
  padding-left: 10px;
  padding-right: 10px;
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#battery {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.warning {
  color: #f9e2af;
}

#battery.critical {
  color: #f38ba8;
}

#battery.warning.discharging {
  animation-name: blink-warning;
  animation-duration: 3s;
}

#battery.critical.discharging {
  animation-name: blink-critical;
  animation-duration: 2s;
}

#clock {}

#cpu {
  background: #1e1e2e;
  /* No styles */
}

#cpu.warning {
  color: #f9e2af;
}

#cpu.critical {
  color: #f38ba8;
}

#memory {
  background: #1e1e2e;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#memory.warning {
  color: #f9e2af;
}

#memory.critical {
  color: #f38ba8;
  animation-name: blink-critical;
  animation-duration: 2s;
}

#mode {
  background: #1e1e2e;
  border-top: 2px solid #cdd6f4;
  /* To compensate for the top border and still have vertical centering */
  padding-bottom: 2px;
}

#network {
  /* No styles */
}

#network.disconnected {
  color: #f9e2af;
}

#network.disabled {
  color: #f38ba8;
}

#pulseaudio {
  /* No styles */
}

#pulseaudio.muted {
  color: #f9e2af;
  /* No styles */
}

#custom-spotify {
  color: rgb(102, 220, 105);
}

#custom-power {
  padding: 0px 5px;
  font-size: 20px;
}

#temperature {
  /* No styles */
}

#temperature.critical {
  color: #f38ba8;
}

#tray {
  background: #1e1e2e;
}

#window {
  font-weight: bold;
}

#workspaces button {
  border-top: 2px solid transparent;
  /* To compensate for the top border and still have vertical centering */
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
  color: #585b70;
}

#workspaces button.active {
  border-color: #f9e2af;
  color: #1e1e2e;
  background-color: #89b4fa;
}

#workspaces button.urgent {
  border-color: #f38ba8;
  background-color: #f9e2af;
  color: #1e1e2e;
}
