[Desktop Entry]
Type=Application
TryExec=alacritty
Exec=bash -c 'alacritty --title Terminal --working-directory "$([ -n "$1" ] && echo "$1" || echo "$HOME")"' -o %U
Icon=Terminal
Terminal=false
Categories=System;TerminalEmulator;
MimeType=inode/directory;
Name=Terminal
GenericName=Terminal
Comment=A fast, cross-platform, OpenGL terminal emulator
StartupWMClass=Terminal
X-Desktop-File-Install-Version=0.26
