[Desktop Entry]
Name=Fedora-dev
Comment=Fedora Development Container
Categories=Distrobox;System;Utility
Exec=alacritty --title Fedora --class fedora-dev -e /usr/bin/distrobox enter fedora-dev
Icon=/home/rid1/.local/share/icons/distrobox/fedora.png
Keywords=distrobox;
NoDisplay=false
Terminal=false
TryExec=/usr/bin/distrobox
Type=Application
