[Desktop Entry]
Type=Application
Version=1.0
Name=Htop
GenericName=Process Viewer
Comment=Show System Processes
Icon=htop
TryExec=htop
Exec=bash -c 'alacritty --config-file $XDG_CONFIG_HOME/alacritty/no-maps.toml --title Htop --class htop -e htop'
Terminal=false
Categories=System;Monitor;ConsoleOnly;
